<div class="container">
  <h1>TimeZone Utility App</h1>
  <h4 style="font-weight: normal;">LocalTime: <strong>{{localTime}}</strong></h4>

  <div class="row" [formGroup]="timeZoneForm">
    <div class="col-md-4">
      <div class="form-group">
        <!--Using items input-->
        <ng-select [items]="countries" appearance="outline" #comboCountries bindValue="id" bindLabel="value"
          labelForId="country" [virtualScroll]="true" dropdownPosition="auto" placeholder="Select country"
          formControlName="country" (change)="onCountryChange($event)">
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            {{item.value}}
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <ng-select [items]="timeZones" appearance="outline" #comboTimezones bindValue="id" bindLabel="value"
          labelForId="timezone" [virtualScroll]="true" dropdownPosition="auto" placeholder="Select timezone"
          formControlName="timezone" (change)="onChange($event)">
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            {{item.value}}
          </ng-template>
        </ng-select>
      </div>
    </div>

    <div class="col-md-12">
      <p><b>Country:</b> {{selectedCountry?.value}}</p>
      <p><b>TimeZone:</b> {{selectedTimeZone?.value}}</p>
      <h2>
        <small>TIME: </small>
        <span style="color: blue;"> {{targetTime}}</span>
      </h2>
    </div>
  </div>
</div>