// @import "~@ng-select/ng-select/scss/ng-select.component.scss";
@import "~@ng-select/ng-select/scss/material.theme.scss";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  bottom: 0;
  padding: 18px 10px;
}
